@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 900px;
}

.content-1,
.content-2,
.content-3 {
    flex: 1 1 300px;
}

.container img {
    padding-bottom: 20px;
    padding-top: 15px;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    padding: 25px 0;
}

.container p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 25px;
}

.container button {
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-1 {
    color: hsl(31, 77%, 52%);
}

.btn-2 {
    color: hsl(184, 100%, 22%);
}

.btn-3 {
    color: hsl(179, 100%, 13%);
}

.container button:hover {
    color: hsl(0, 0%, 95%);
}

.content-1 {
    background-color: hsl(31, 77%, 52%);
}

.content-2 {
    background-color: hsl(184, 100%, 22%);
}

.content-3 {
    background-color: hsl(179, 100%, 13%);
}

.content-1,
.content-2,
.content-3 {
    padding: 30px 30px;
}

.btn-1:hover {
    background-color: hsl(31, 77%, 52%);
}

.btn-2:hover {
    background-color: hsl(184, 100%, 22%);
}

.btn-3:hover {
    background-color: hsl(179, 100%, 13%);
}

@media (max-width: 375px) {
    .container {
        height: 100vh;
        margin: 50px;
    }

    .content-1,
    .content-2,
    .content-3 {
        width: 300px;
    }

    p {
        font-size: 14px;
    }
}